body{
    background-color: aqua;
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

